$main-color: #EE4D47;

$rubik: 'Rubik', sans-serif;
$DM-serif: 'DM Serif Display', serif;

$transition-duration: 0.3s;
$transition-timing-function: ease-in-out;

$tablet-width: 768px;
$desktop-width: 1170px;
